<ul class="nav nav-pills mb-3 nav-tabs" >
  <li class="nav-item">
   <%= link_to "All departments", departments_path %>
  </li>
  <li class="nav-item">
    <%= link_to "New", new_department_path %>
  </li>
  <li class="nav-item">
  </li>
</ul>